/* =============================================== */
/* BASIC SETUP  */
/* =============================================== */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&display=swap');

*::after,
*::before,
* {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'AR One Sans', 'Roboto Mono', 'Sono', Arial, Helvetica, sans-serif;

    --black_color: #000;
    --white_color: #fff;
    --black_text: #333;
    --light_black_text: #5a5a5a;
    --white_text: #f5f5f5;
    --snow_white_color: #fffafa;
    --gray_color: #bdbdbd;
    --light_gray_color: #dedede;
    --dark_gray_color: #6d6d6d;
    --light_green_color: #1bff14;
    --green_color: #32de84;
    --dark_green_color: #03c04a;
    --light_red_color: #f13e23;
    --red_color: #ff2400;
    --dark_red_color: #cc0000;
    --yellow_color: #ffc72c;
    --light_yellow_color: #ffd700;
    --dark_yellow_color: #febe10;
    --blue_color: #00bfff;
    --light_blue_color: #28c6fb;
    --dark_blue_color: #add8e6;
    --soft_dark_blue_color: #b0e0e6;

    --page_two_side_padding: 14em;
    --element_bg_color: rgba(236, 236, 236, 0.469);
    --element_bg_hover_color: rgba(236, 236, 236, 0.669);
    --element_transition: all 360ms ease-in-out;
    --element_box_shadow: 4px 4px 10px var(--gray_color);
}

/* Reset CSS styles for some elements */
a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

/* Make SVG elements works with current color */
svg {
    font-size: 1rem;
    height: 3.6rem;
    aspect-ratio: 1 / 1;
}

svg path {
    fill: currentColor;
}

/* Improve line wrapping + avoid text overflows */
p {
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}
/* =============================================== */
/* APP SECTION  */
/* =============================================== */
.app {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 10fr 0.45fr;
    grid-template-columns: 1fr;
}

.bgImg {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    z-index: 1;

    background-image: url(../img/background/clear-day.png);
    /* background-image: url(../img/background/clear-night.png); */
    filter: blur(2px);
}

/* =============================================== */
/* NAVBAR SECTION  */
/* =============================================== */
.navBar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 10;

    font-size: 1rem;
    padding: 1.6em;
    padding-left: var(--page_two_side_padding);
    padding-right: var(--page_two_side_padding);
    display: grid;
    grid-template-columns: 7fr 3fr;
    /* gap: 2.6em; */
}

.navBarLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navSearchWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 8.5fr 0.5fr 0.75fr;

    border: 2px solid var(--gray_color);
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--element_bg_color);
    transition: var(--element_transition);
}

.navSearchInp {
    outline: none;
    border-color: transparent;

    font-size: 2rem;
    font-weight: 600;
    padding: 0.3em 0.6em;
    color: var(--black_text);
    background-color: transparent;
}

.navSearchInp::placeholder {
    color: var(--light_black_text);
}

.navSearchWrapper:has(.navSearchInp:invalid) {
    border-color: var(--dark_red_color);
}

.navSearchWrapper:has(.navSearchInp:focus) {
    border-color: var(--dark_gray_color);
    background-color: var(--element_bg_hover_color);
}

.navSearchClearWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navSearchClearIconEmpty,
.navSearchClearIconFilled {
    height: 2.2rem;
    color: var(--dark_gray_color);
}

.navSearchClearIconFilled.hide {
    width: 0;
}

.navSearchClearWrapper:hover .navSearchClearIconEmpty {
    width: 0;
}

.navSearchClearWrapper:hover .navSearchClearIconFilled.hide {
    width: 100%;
}

.navSearchBtn {
    background-color: var(--element_bg_color);
    filter: brightness(1.06);
    outline: none;
    border: none;
    position: relative;
}

.navSearchBtn::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    border: 1px solid var(--gray_color);
}

.navSearchBtn:hover {
    background-color: var(--element_bg_hover_color);
}

.navSearchBtnIcon {
    height: 3rem;
    color: var(--dark_gray_color);
}

.navSearchBtn:hover .navSearchBtnIcon {
    color: var(--black_text);
}

.navBarRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navControllerWrapper,
.navTempWrapper,
.navSpeedWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.navTempWrapper,
.navSpeedWrapper {
    gap: 0;
}

.navTempBtn,
.navSpeedBtn {
    font-size: 2rem;
    color: var(--black_text);
    font-weight: 600;
    padding: 0.46em 0.66em;
    cursor: pointer;
    user-select: none;

    background-color: var(--element_bg_color);
    box-shadow:
        inset 2px 2px 5px rgba(0, 0, 0, 0.36),
        inset -2px -2px 5px rgba(255, 255, 255, 0.8);
    filter: brightness(0.86);
    transition: var(--element_transition);
}

.navTempBtn:hover,
.navSpeedBtn:hover {
    filter: brightness(1);
}

.navTempBtn.active,
.navSpeedBtn.active {
    background-color: var(--element_bg_hover_color);
    box-shadow:
        -2px -2px 5px rgba(255, 255, 255, 0.6),
        2px 2px 5px rgba(0, 0, 0, 0.36);
    filter: brightness(1.06);
}

.navTempBtn {
}

.navSpeedWrapper {
}

.navSpeedBtn {
}

.navTempBtn:first-child,
.navSpeedBtn:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-right: 0.86em;
}

.navTempBtn:last-child,
.navSpeedBtn:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 0.86em;
}

/* =============================================== */
/* CONTENT SECTION  */
/* =============================================== */
.content {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 0 14em;
    padding-bottom: clamp(0, 0.6em, 1em);
    padding-bottom: 1em;
    overflow-y: auto;
}

.currentBrief {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1.2em;
}

/* =============================================== */
/* GENERAL CURRENT BRIEF SECTION  */
/* =============================================== */
.currentGeneral {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    /* background-color: var(--element_bg_color); */
    transition: var(--element_transition);
    overflow: hidden;
    font-size: 1rem;
    border-radius: 1.6em;
}

/* .currentGeneral:hover {
    background-color: var(--element_bg_hover_color);
} */

.generalLeft {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 1.4em;
}

.generalIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.generalIcon {
    font-size: 1rem;
    height: clamp(22.6em, 23em, 23.4em);
    aspect-ratio: 1 / 1;
}

.generalLeftDetails {
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1.5fr 0.5fr 0.5fr;
    gap: 0.2em;
}

.generalLeftTemp,
.generalTempDegreeIcon,
.generalTempDegree {
    font-size: 10.6rem;
    font-weight: 900;
    margin: 0;
    color: var(--black_text);
    cursor: default;
}

.generalTempDegree {
    text-transform: uppercase;
    margin-left: -0.26em;
}

.generalCondition,
.generalAddress,
.generalFeelLikeText,
.generalFeelLikeTemp,
.generalFeelLikeTempIcon,
.generalFeelLikeTempDegree,
.generalDateText {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--light_black_text);

    align-self: center;
    cursor: default;
}

.generalRight {
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1.5fr 0.5fr 0.5fr;
    gap: 0.2em;
}

.generalRightTempWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    gap: 5.6em;
}

.generalTempRangeWrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;
}

.generalTempRangeWrapper:first-child:hover .generalTempRangeIcon path,
.generalTempRangeWrapper:first-child:hover .generalTempRangeVal,
.generalTempRangeWrapper:first-child:hover .generalTempRangeValIcon,
.generalTempRangeWrapper:first-child:hover .generalTempRangeDegree {
    color: var(--blue_color);
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: var(--snow_white_color);
    stroke: var(--snow_white_color);
    stroke-width: 0.25px;
    stroke-linejoin: round;
}

.generalTempRangeWrapper:last-child:hover .generalTempRangeIcon path,
.generalTempRangeWrapper:last-child:hover .generalTempRangeVal,
.generalTempRangeWrapper:last-child:hover .generalTempRangeValIcon,
.generalTempRangeWrapper:last-child:hover .generalTempRangeDegree {
    color: var(--light_red_color);
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: var(--snow_white_color);
    stroke: var(--snow_white_color);
    stroke-width: 0.25px;
    stroke-linejoin: round;
}

.generalTempRangeText {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--black_text);
    display: flex;
    align-items: center;
    gap: 0.6em;
    cursor: default;
}

.generalTempRangeIcon {
    height: 2.6rem;
    color: var(--black_text);
    transition: var(--element_transition);
}

.generalTempRangeVal,
.generalTempRangeValIcon,
.generalTempRangeDegree {
    font-size: 4.6rem;
    color: var(--black_text);
    font-weight: 900;
    cursor: default;
    transition: var(--element_transition);
}

.generalTempRangeDegree {
    text-transform: uppercase;
    margin-left: -0.3em;
}

.generalFeelLikeText,
.generalDateText {
    justify-self: self-end;
}

.generalFeelLikeTempDegree {
    text-transform: uppercase;
    margin-left: -0.26em;
}

/* =============================================== */
/* CURRENT DETAILS SECTION  */
/* =============================================== */
.currentDetails {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.2em;
}

.currentDetailsCard {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1.2em;

    padding: 0.8em 0.4em;
    width: max(14%, 190px);
    border-radius: 12px;
    background-color: var(--element_bg_color);
    transition: var(--element_transition);
}

.currentDetailsCard:hover {
    background-color: var(--element_bg_hover_color);
    transform: translateY(-2px);
    box-shadow: var(--element_box_shadow);
}

.detailsCardIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailsCardIcon {
    font-size: 1rem;
    height: 2.76em;
    stroke: var(--snow_white_color);
    stroke-width: 0.025px;
    stroke-linejoin: round;
}

.detailsCardContent {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8em;
    cursor: default;
}

.detailsCardTitle {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black_text);
}

.detailsCardValue,
.detailsCardUnit {
    font-size: 2.2rem;
    color: var(--black_text);
    font-weight: 700;
}

.detailsCardUnit {
    margin-left: 0.2em;
}

/* =============================================== */
/* HOURS SECTION  */
/* =============================================== */
.hoursBrief,
.weekBrief {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 1.4em;
}

.hourBriefTitle,
.weekBriefTitle {
    width: 100%;
    font-size: 2.8rem;
    color: var(--black_text);
    cursor: default;
    display: block;
    border-bottom: 1.5px solid var(--black_text);
    cursor: default;
}

.hourCardWrapper {
    font-size: 1rem;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(120px, 12.6%));
    gap: 1em;
}

.hourCard {
    font-size: 1rem;
    padding: 1em 2.6em;
    background-color: var(--element_bg_color);
    border-radius: 14px;
    transition: var(--element_transition);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
}

.hourCard:hover,
.weekCard:hover {
    background-color: var(--element_bg_hover_color);
    box-shadow: var(--element_box_shadow);
    transform: translateY(-2px);
}

.hourCardTimeWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourCardTimeValue,
.hourCardTimeUnit {
    font-size: 2rem;
    color: var(--black_text);
    font-weight: 800;
    cursor: default;
}

.hourCardTimeUnit {
    text-transform: uppercase;
    margin-left: 0.2em;
}

.hourCardIconWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourCardIcon {
    font-size: 1rem;
    height: 6.6em;
}

.hourCardTemp {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: default;
}

.hourCardTemp,
.hourCardTempIcon,
.hourCardTempDegree {
    font-size: 1.8rem;
    color: var(--black_text);
    font-weight: 600;
}

.hourCardTempIcon {
    margin-left: 0.26em;
}

.hourCardTempDegree {
    text-transform: uppercase;
}

/* =============================================== */
/* WEEK SECTION  */
/* =============================================== */
.weekBrief {
    /* overflow-x: scroll; */
}

.weekCardWrapper {
    font-size: 1rem;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(360px, 32%));
    gap: 1em;

    overflow-x: auto;
}

.weekCard {
    font-size: 1rem;
    padding: 1em 2.6em;
    background-color: var(--element_bg_color);
    border-radius: 14px;
    transition: var(--element_transition);

    display: flex;
    align-items: center;
    gap: 1.2em;
}

.weekCardIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekCardIcon {
    font-size: 1rem;
    height: 8.6em;
}

.weekCardContent {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: stretch; */
    gap: 2.4em;
}

.weekCardContentHeader {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.weekCardHeaderDay,
.weekCardHeaderDate {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black_text);
}

.weekCardHeaderDate {
}

.weekCardContentBody {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.weekCardBodySide {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6em;
}

.weekCardBodyText {
    font-size: 1.6rem;
    color: var(--black_text);
    font-weight: 500;
    cursor: default;
}

.weekCardBodyTemp,
.weekCardBodyTempDegreeIcon,
.weekCardBodyTempDegree {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--black_text);
    cursor: default;
}

.weekCardBodyTempDegreeIcon {
}

.weekCardBodyTempDegree {
    margin-left: -0.26em;
    text-transform: uppercase;
}

/* =============================================== */
/* NIGHT SECTION  */
/* =============================================== */
.generalLeftTemp.night,
.generalTempDegreeIcon.night,
.generalTempDegree.night,
.generalCondition.night,
.generalAddress.night,
.generalCondition.night,
.generalAddress.night,
.generalFeelLikeText.night,
.generalFeelLikeTemp.night,
.generalFeelLikeTempIcon.night,
.generalFeelLikeTempDegree.night,
.generalDateText.night .detailsCardTitle.night {
    color: var(--white_text);
}

/* =============================================== */
/* FOOTER SECTION  */
/* =============================================== */
.footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    z-index: 10;

    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    background-color: var(--element_bg_color);
    transition: var(--element_transition);
}

.footer:hover,
.footer:has(> *:hover) {
    background-color: var(--element_bg_hover_color);
}

.usrName {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.footerIcon {
    height: 2.4rem;
}

.usrName,
.srcLink {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black_text);

    transition: all 660ms ease-in-out;
}

.usrName:hover,
.srcLink:hover {
    font-weight: 600;
    transform: scale(1.14);
}
